@import 'tailwindcss';

@theme {
  --color-primary-900: #012622;
  --color-primary-700: #003b36;
  --color-accent-500: #e98a15;
  --color-secondary-700: #59114d;
  --color-neutral-100: #ece5f0;
  --color-black-900: #0b1c1a;
  --color-black-800: #111827;
  --color-white-100: #fafafa;
  --color-white-200: #f5f7f6;

  --font-display: 'Inter', sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}