@import 'tailwindcss';

@theme {
  --color-silk: #f3f0ea;
  --color-cascade: #273e3e;
  --color-cinnamon: #d26911;
  --color-apricot: #e8a760;

  --font-display: 'Inter', sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
